<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<runtime>
		<loadFromRemoteSources enabled="true"/>
	</runtime>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" />
	</system.web>
	
	
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service behaviorConfiguration="mexBehavior" name="Comunication.AuthenticationService">
				<endpoint address="Comunication" binding="netTcpBinding"
				  bindingConfiguration="" contract="Comunication.IAuthenticationService" />
				<endpoint address="Comunication" binding="netTcpBinding"
				  bindingConfiguration="" contract="Comunication.IChatService" />
				<endpoint address="Comunication" binding="netTcpBinding"
				  bindingConfiguration="" contract="Comunication.IChangePasswordService" />

				<!--Si todo pongo en una clase, solo se agrega <endpoint address="ComunicationLayer" binding="netTcpBinding"
				  bindingConfiguration="" contract="Comunication.IAuthenticationService" />
				  
				  Sino tengo que agregar servicio, exponer todo, por separado-->
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8080" />
						<add baseAddress="net.tcp://localhost:8090" />
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
	<connectionStrings>
		<add name="GameLoteriaDataBasesEntities" connectionString="metadata=res://*/GameModel.csdl|res://*/GameModel.ssdl|res://*/GameModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=GameLoteriaDataBases;persist security info=True;user id=GameLoteriaUserBD; password=GameLoteriaUserBD03;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>